<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <%= live_title_tag(assigns[:page_title] || "HTTP Server") %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}>
    </script>
  </head>

  <body class="dark:bg-gray-600">
    <header class="w-full">
      <section class="">
        <nav class="bg-gray-100 shadow dark:bg-gray-800">
          <div class="flex justify-center items-center pt-3">
            <img class="h-14 pr-4" src={Routes.static_path(@conn, "/images/logo.svg")} alt="Mix Server Logo" />

            <h1 class="text-4xl text-gray-800 dark:text-gray-300">
              Elixir HTTP Server
            </h1>
          </div>

          <div class="container flex items-center justify-center pb-3 pt-3 mx-auto text-gray-600 capitalize dark:text-gray-300">
            <a href="https://hex.pm/packages/server" class={nav_classes()} target="_blank">
              Hex
            </a>

            <a href="https://github.com/akoutmos/server" class={nav_classes()} target="_blank">
              Source Code
            </a>

            <a href="https://github.com/sponsors/akoutmos" class={nav_classes()} target="_blank">
              Sponsor My Work
            </a>
          </div>
        </nav>
      </section>
    </header>

    <%= @inner_content %>
  </body>
</html>
